{{extend "manage_admin_layout.html"}}
{{block sub_menu}}
{{sub_menu(menu_items, 'manage', 'list')}}<!--选中子菜单中的该子项-->
{{end}}
{{block content_main}}
<div>
    <a class="btn btn-primary" href="/god/add">添加新文章</a>
    <a class="btn btn-primary" href="/god/addC">添加分类</a>
</div>

<table class="table table-striped">
        <thead>
          <tr>
            <th>标题</th>
            <th>修改日期</th>
          </tr>
        </thead>
        <tbody>
          {{for row in objects:}}
          <tr>
            <td><a href="/reader/{{=row.id}}">{{=row.title}}</a></td>
            <td>{{=row.modified_time}}</td>
            <td><a href="/god/delete/{{=row.id}}">删除</a></td>
            <td><a href="/god/edit/{{=row.id}}">编辑</a></td>
          </tr>
          {{pass}}
        </tbody>
      </table>
<div class="pagination pagination-centered">{{<<pagination}}</div>
{{end}}