<html>
<head>
<title> Seyren's blog</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="uliweb 学习" />
{{link "mytest.css"}}
<script type="text/javascript">
     //fix html5 tag
     (function(){
        var arr = ['footer','header','article','section','nav'];
	    for(var i=0; i<arr.length; i++) document.createElement(arr[i]);
    })();
</script>
<script type="text/javascript" src="http://lib.sinaapp.com/js/jquery/1.7/jquery.min.js"></script>




</head>
<body>
<div class="panel">
    <ul class="btn-panel">
        <li><a title="" href="/god" class="icon btn-login" target="_top">管理</a></li>
    </ul>
</div>
{{block content}}
{{end content}}
<script type="text/javascript">
    //$(document).ready(function($){
        if(!document.createElement('canvas').getContext){
            $('<div style="position:absolute;top:-30px;left:0px;right:0px;bottom:-30px;z-index:1000;background:#333;padding:260px;color:#eee;"><h1 style="font-size:100px;">IE你好，IE再见</h1><p style="font-size:30px;" >请使用现代浏览器浏览本站，如Google Chrome, Mozilla Firefox, Safari, Opera等。<br />如果您不想换浏览器，那么你肯定不会对本博内容感兴趣。推荐您还是去刷微博吧。</p></div>').appendTo(document.body);
        }
    //});
    </script>
<script type="text/javascript">
    //$(document).ready(function($){
       var o = $('#colorchange')[0];
       o.style.cssText += ';-webkit-transition:color 1.5s ease;-moz-transition:color 1.5s ease;-o-transition:color 1.5s ease;transition:color 1.5s ease;';
       setInterval(function(){
        //console.log(o);
        o.style.color = '#'+(new Date()).getTime().toString(16).substr(-6);
       },(1990+06+17+1989+10+09));
    //});
</script>
</body>
</html>