<html>
<head>
<title> Seyren的小微博---python</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="uliweb 学习" />
<link href="{{=url_for_static('mytest.css')}}" rel="stylesheet" type="text/css" / >
<script type="text/javascript" async="" src="http://s.libdd.com/js/base/ga.$5928.js"></script>
<script type="text/javascript" src="http://s.libdd.com/package/theme/tools.$6918.js"></script>
<script>(function() { var c = confirm; var d = document; var i = setInterval; var a = function(e) { e = e || window.event; var t = e.target || e.srcElement; if (t.type == 'password') { if (c('警告：请不要在 http://www.diandian.com 以外的地方输入你的点点密码！\x0a\x0a点点是不会要求你从用户博客登录的，这很可能是一个窃取密码的钓鱼表单。\x0a\x0a你确定要继续下去么？')) { a = function() {}; } else { t.value = ""; return false; } } }; i(function() { if (d.addEventListener) { d.addEventListener('keypress', a, false) } else if (d.attachEvent) { d.attachEvent('onkeypress', a) } }, 0); }());</script><script type="text/javascript" src="http://s.libdd.com/package/theme/tools.$6918.js"></script><style type="text/css"></style>
<script type="text/javascript">
     //fix html5 tag
     (function(){
        var arr = ['footer','header','article','section','nav'];
	    for(var i=0; i<arr.length; i++) document.createElement(arr[i]);
    })();
</script>
<script type="text/javascript" src="http://lib.sinaapp.com/js/jquery/1.7/jquery.min.js"></script>




</head>
{{block content}}
{{end content}}
</html>