{{extend "basetest.html"}}
{{block content}}
<header>
    	<div class="logo"><a href="http://seyren.com"><span style="transition: color 1.5s ease 0s; color: rgb(26, 166, 206);" id="colorchange">Seyren</span></a></div>
		<ul class="des">
			<li>这是我的个人博客</li>
            <li><a href="http://seyren.com">去我的个人页面看看</a></li>
		</ul>
</header>
<div class="content-header"></div>
<div class="content">
<article>
			<h1>
                <span class="item-title">
                <a href="/reader/{{=p.id}}">
                {{=p.title}}
                </a>
                </span>
				<span class="item-time">{{=p.datetime}}</span>
                <div class="googleplusbtn"><g:plusone href="http://atalasii.com/post/2013-09-05/40053360364"></g:plusone></div>
			</h1>
            <section><p>{{<<p.content}}</p></section>
            <!-- Duoshuo Comment BEGIN -->
            <div class="ds-thread"></div>
                <script type="text/javascript">
                    var duoshuoQuery = {short_name:"sorcerer"};
                        (function() {
                            var ds = document.createElement('script');
                            ds.type = 'text/javascript';ds.async = true;
                            ds.src = 'http://static.duoshuo.com/embed.js';
                            ds.charset = 'UTF-8';
                            (document.getElementsByTagName('head')[0]
                            || document.getElementsByTagName('body')[0]).appendChild(ds);
                            })();
                </script>
           <!-- Duoshuo Comment END -->
</article>
</div>
{{end}}