{{extend "basetest.html"}}
{{block content}}
{{include "header.html"}}
<div class="content-header"></div>
<div class="content">
<article>
			<h1>
                <span class="item-title">
                <a href="/reader/{{=p.id}}">
                {{=p.title}}
                </a>
                </span>
				<span class="item-time">{{=p.datetime}}</span>
			</h1>
            <section><p>{{<<p.content}}</p></section>
            <!-- Duoshuo Comment BEGIN -->
            <div class="ds-thread"></div>
                <script type="text/javascript">
                    var duoshuoQuery = {short_name:"sorcerer"};
                        (function() {
                            var ds = document.createElement('script');
                            ds.type = 'text/javascript';ds.async = true;
                            ds.src = 'http://static.duoshuo.com/embed.js';
                            ds.charset = 'UTF-8';
                            (document.getElementsByTagName('head')[0]
                            || document.getElementsByTagName('body')[0]).appendChild(ds);
                            })();
                </script>
           <!-- Duoshuo Comment END -->
</article>
</div>
{{end}}