{{extend "base.html"}}
{{block content}}
<body data-twittr-rendered="true">
    <div class="container">
        <header class="masthead">
            <a class="" href="/" title="">
                <img src="{{=url_for_static('port.png')}}" alt="seyren's port">
            </a>
            <br>
            <p>
                <strong>Seyren's小屋</strong>
                <br>
                I live in Ningbo and like Programming and front-end design.
                <br>
                Now i'm working for System operation and maintenance in the PSBC.
            </p>
        </header>
    {{if hasattr(request, 'user') and request.user:}}
    欢迎{{=request.user.username}} <a href="/logout">退出</a>
    {{else:}}
    <a href="/register"> 注册</a> <a href="/login">登录</a>
    {{pass}}
    <hr>

    {{if hasattr(request, 'user') and request.user:}}
    {{use "xheditor"}}
    {{<<form}}
    <hr>
    {{pass}}

     {{for n in blog:}}
        <div class="row show-grid">

          <div class="span2 offset1">
                <div class="alert alert-info">作者:{{=n.username}}</div>
          </div>

          <div class="span9">
             <div class="well">
                <div class="alert alert-message">{{=n.title}}</div>
                <div class="alert alert-success">{{<<n.content}}</p>{{=n.datetime}}|<a href="/delete/{{=n.id}}">删除</a>|<a href="/edit/{{=n.id}}">编辑</a></div>
             </div>
           </div>
        </div>
    {{pass}}
    {{include "inc_xheditor_plugins.html"}}
    </div>
    <!-- /close container-->
    <script type="text/javascript">
        $(function(){
            $('textarea').xheditor({
                tools:'Cut,Copy,Paste,Pastetext,|,Blocktag,Fontface,FontSize,Bold,Italic,Underline,Strikethrough,FontColor,BackColor,SelectAll,Removeformat,|,Align,List,Outdent,Indent,|,Link,Unlink,Anchor,Img,Flash,Hr,Emot,Table,Code,Quote,|,About',
                skin:'default',
                upFlashExt:"swf",
                plugins:plugins,
                height:300,
                width:600,
            });
        });
    </script>
</body>
{{end}}
