{{extend "_uliweb_admin_layout.html"}}
{{block content}}

<div class="head">
        <ul>
            <li><a href="" title="" class="" target="">login</a> </li>
            <li><a href="" title="" class="" target="">logout</a> </li>
        </ul>
    </div>    
</div>

<div class="container">
    <div class="side-menu">
        {{block side_menu}}

        {{end}}
    </div>
    <div class="content">
    </div>
</div>
<script>
$(function(){
    $('.head .ui.dropdown').dropdown({
        on: 'hover',
        action: 'nothing'
    });
    
});
</script>


{{end}}