*{margin:0;padding:0;}
ul,ol,li{list-style-type:none;}
a{text-decoration:none;color:#333;}
body{font-family:'微软雅黑',arial,sans-serif;color:#333;
background-color:#ddd;
background-image:url(),url();position:relative;
}
header{position:fixed;top:0;left:0;bottom:0;width:250px;
background-color:#333;
background-image:url(),url();
	box-shadow:-5px 0px 7px #000 inset;
}
header::after{content:'@Seyrenhe';position:absolute;bottom:0px;right:0px;height:12px;width:250px;opacity:0.3;color:#fff;font-size:12px;text-align:right;padding:5px;}
header::before{content:'';position:absolute;bottom:0px;right:0px;height:215px;width:250px;background:url() right bottom no-repeat;opacity:0.8;}
article{margin:10px;padding:20px;border-radius:5px;box-shadow:0 0 2px #666 inset;position:relative;min-height:100px;
    background:-webkit-linear-gradient(top, rgba(255,255,255,0.5)0%, rgba(255,255,255,0)100%);
    background:-moz-linear-gradient(top, rgba(255,255,255,0.5)0%, rgba(255,255,255,0)100%);
    background:-o-linear-gradient(top, rgba(255,255,255,0.5)0%, rgba(255,255,255,0)100%);
    background:linear-gradient(top, rgba(255,255,255,0.5)0%, rgba(255,255,255,0)100%);
}
section{line-height:160%;font-size:14px;margin:10px 0;overflow:hidden;}
section a::before{content:' > ';color:#999;}
section a::after{content:' < ';color:#999;}
section a:hover{background:#999;color:#fff;border-radius:2px;box-shadow:1px 1px 2px #666;}
section img{display:block;margin:30px;box-shadow:1px 1px 5px #999;border:1px solid #aaa;background:#fff;}
.logo{overflow:hidden;text-align:center;color:#fff;font-size:34px;font-weight:bold;padding:20px 0 5px 0;
    background:-webkit-linear-gradient(top, rgba(0,0,0,1)0%, rgba(0,0,0,0)100%);
	background:-moz-linear-gradient(top, rgba(0,0,0,1)0%, rgba(0,0,0,0)100%);
	background:-o-linear-gradient(top, rgba(0,0,0,1)0%, rgba(0,0,0,0)100%);
	background:linear-gradient(top, rgba(0,0,0,1)0%, rgba(0,0,0,0)100%);
	position:relative;z-index:1;
}
.logo::before{content:'#!';color:#aaa;opacity: 0.5;}
.logo::after{content:'.';color:#aaa;opacity: 0.5;}
.logo a{color:#fff;}
.des{padding:10px 30px;color:#eee;font-size:13px;color:#aaa;position:relative;z-index:1;}
.des li{margin:5px 0;}
.des li::before{content:'@';font-size:10px;}
.des a{color:#ccc;}
.des a:hover{color:#333;border-radius:2px;background:#eee;box-shadow:1px 1px 5px #000;}
.content{margin-left:250px;}
.content-header{margin-left:250px;height:30px;}
.content-header::after{ content:'';display:block;margin:10px;border-radius:5px;box-shadow:0 0 2px #666 inset;position:relative;height:50px;top:-20px;
    background:-webkit-linear-gradient(top, rgba(255,255,255,0.5)0%, rgba(255,255,255,0)100%);
    background:-moz-linear-gradient(top, rgba(255,255,255,0.5)0%, rgba(255,255,255,0)100%);
    background:-o-linear-gradient(top, rgba(255,255,255,0.5)0%, rgba(255,255,255,0)100%);
    background:linear-gradient(top, rgba(255,255,255,0.5)0%, rgba(255,255,255,0)100%);
}
.item-title{font-size:20px;}
.item-title::before{content:'{ ';color:#aaa;}
.item-title::after{content:' }';color:#aaa;}
.item-time{font-size:14px;}
.item-time::before{content:'< ';color:#aaa;}
.item-time::after{content:' >';color:#aaa;}
.item-tag{font-size:14px;border-radius:3px;border:0px 0px 1px #999;background:#ccc;padding:1px 6px;}
.item-tag a{color:#333;}
.item-tags::before{content:'Tags:';font-size:16px;}
.reply{float:right;margin-right:10px;margin-top:10px;border-radius:5px;box-shadow:0 0 2px #666 inset; padding:2px 2px 0 2px;}
.pages-nav{text-align:right;margin:10px;font-size:12px;padding-bottom:30px;margin-left:250px;}
.pages-nav span{padding:5px 10px;border-radius:3px;box-shadow:0 0 2px #666 inset;}

.googleplusbtn{position:absolute;top:20px;right:0;}


::-webkit-scrollbar {height: 10px;overflow: visible;width: 10px;}
body::-webkit-scrollbar-thumb {border-width: 2px 2px 2px 2px;}
::-webkit-scrollbar-thumb {background-clip: padding-box;border: solid transparent;min-height: 28px;
background-color: rgba(0, 0, 0, .8);
}
::-webkit-scrollbar-button {height: 0;width: 0;}
::-webkit-scrollbar-track {background-clip: padding-box;border: solid transparent;border-width: 0 0 0 4px;}
body::-webkit-scrollbar-track-piece {background-clip: padding-box;border: solid white;box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0),inset -1px 0 0 rgba(0, 0, 0, .07);border-width: 0;background-color: #ddd;}
body::-webkit-scrollbar-corner {background-clip: padding-box;background-color: #ddd;border: solid white;box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .14);border-width: 3px 0 0 3px;}
::-webkit-scrollbar-corner {background: transparent;}


