{{block content}}
{{include "inc_jquery_dialog2.html"}}

<style>
.modal {width: 440px; margin: 0 0 0 -220px;}
.form-horizontal .control-label {width:100px;}
.form-horizontal .controls {margin-left: 120px;}

</style>
<div id="login" style="display:none;">
    <h1>{{=_('Sign in')}}</h1>
    {{<<form}}
</div>
<script>
    $(function(){
        $("#login").dialog2({
            showCloseHandle: false,
            removeOnClose: false, 
            autoOpen: true, 
            closeOnEscape: false, 
            closeOnOverlayClick: false
        });
        
    });
</script>
{{end}}
